*{
    text-align: center;
    background-color:#f5f5dc;
    color:#0000ff;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    font-size: 45pt;
}
h1{
    font-size: 40pt;
    border: 4px solid #87cefa;
    background-color: #f3bbf1;
}
h2{
    text-decoration: underline;
    font-size: 25pt;
}
h5{
    font-size: 20pt;
    font-style: italic;
}
.description{
    display: block;
    margin: auto;
    width: 600pt;
    font-size: 20pt;
    font-family: courier;
}
.merchandise{
    font-size: 21pt;
    font-family: courier;
    color:#fa8072;
}
.pagelinks{
    font-family: courier;
}

a:hover{
background-color: #00ff00;
}

#myName{
    background-color: #f3bbf1;
}
div em{
    color:#bc8f8f;
}






